DATABASE_URL=
MYSQL_ROOT_PASSWORD =
APP_ORIGIN=
PORT = 
SWAGGER_ENABLED=
NODE_ENV = 
REDIS_URL = 
REDIS_PASSWORD = 
JWT_SECRET =
GITHUB_USERNAME = 
MYSQL_DATABASE = 
CLOUDINARY_CLOUD_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 
VNPAY_TMN_CODE=
VNPAY_SECURE_SECRET= 
VNP_RETURN_URL= 
VNP_HOST= 
VNPAY_QUERY_REFUND_HOST=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
FRONTEND_URL=